.homepage-container {
    background-image: url("../images/tahoe.JPG");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.greeting {
    z-index: 1;
    color: white;
    font-size: 96px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10%;    
}

@media only screen and (max-width: 820px) {
    .greeting {
        font-size: 72px;
    }
}

@media only screen and (max-width: 620px) {
    .greeting {
        font-size: 42px;        
    }
}