.navbar-bar {
    background-color: black;
    height: 50px;
    width: 100%;
    z-index: 5; 
    position: fixed;
}

.navbar-menu-button {
    display: none;
    width: 40px;
    height: 40px;
    margin: 5px 15px 5px 0;    
    float: right;
}

.navbar-button {
    display: inline-block;
    color: rgb(204, 204, 204);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 25px;
    width: 120px;
    padding: 12.5px 15px 12.5px 15px;    
    margin: 0;
    border: none;
    background-color: black;
    text-align: center;
    box-sizing: content-box;
    outline: none;
}

.navbar-button:hover {
    background: linear-gradient(rgb(148, 148, 148), rgb(156, 156, 156));
    color: black;
}

@media only screen and (max-width: 620px) {
    .navbar-button { 
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
    }  

    .navbar-button:hover {
        background: black;
        color: white;
    }

    .navbar-menu-button {
        display: block;
    }
}